{% load i18n %}{% autoescape off %}
{% blocktrans %}Vous recevez ce message parce que vous avez demandé une réinitialisation de mot de passe pour votre compte d'utilisateur à {{ site_name }}.{% endblocktrans %}

{% trans "Veuillez vous rendre à la page suivante et choisir un nouveau mot de passe:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Votre adresse de connexion, dans le cas où vous avez oublié, est la même adresse e-mail:" %} {{ user.get_username }}

{% trans "Merci d'utiliser notre site!" %}

{% blocktrans %}L'équipe de {{ site_name }} {% endblocktrans %}

{% endautoescape %}

